{% extends '@Theme/layout.html.twig' %}

{% block navbar %}
    <nav class="navbar navbar-default navbar-static-top container" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-bar"></span>
            <span class="glyphicon glyphicon-bar"></span>
            <span class="glyphicon glyphicon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('dashboard_default_index') }}">Guestbook</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="{{ path('dashboard_default_index') }}">{{ 'layout.home'|trans }}</a>
            </li>


        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                {% if app.request.locale == 'en' %}
                    {% set localeOther = 'fr' %}
                {% else %}
                    {% set localeOther = 'en' %}
                {% endif %}
            </li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li>
                    <a href="{{ path('fos_user_profile_show') }}">{{ 'profile.profile'|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                </li>
            {% endif %}
        </ul>

    </div>

    <!-- /.navbar-collapse -->
    </nav>

{% endblock navbar %}
