{% extends "::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('user_message_index') }}">Messages</a>
    </li>
    <li class="active">{{ user }}</li>
{% endblock breadcrumb %}

{% block fos_user_content %}
    <div class="col-md-4">
        <div class="form-horizontal">

            <div class="form-group">
                <label class="control-label">{{ 'profile.show.firstname'|trans }}</label>

                <div class="controls">
                    <input type="text" value="{{ user.firstName }}" disabled class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}</label>

                <div class="controls">
                    <input type="text" value="{{ user.username }}" disabled class="form-control">
                </div>
            </div>

        </div>
    </div>
{% endblock fos_user_content %}
